h1 {
    padding-left: 20px;
    color: white;
    background-color: rgb(185, 110, 255);
    border: 0.5px ;
}
* {
    background-color: rgb(189, 189, 245);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

input {
    background-color: white;
    width: 100%;
}

p {
    font-style: italic;
}

a {
    text-decoration: none;
    color: purple;
}

a:hover {
    text-decoration: underline;
}
#project_section {
    background-size: cover;
    color: black;
    border-left: 0.5px dashed white;
    border-bottom: 0.5px dashed white;
    border-right: 0.5px dashed white;
    margin: 0px;
    padding-bottom: 10px;
}
#project_link {
    /*background-size: cover;
    background-size: contain;*/
    background-size: 100% 100%;
    height: 250px;
    margin: 0px;
}
#project_link:hover {
    /*background-size: cover;
    background-size: contain;*/
    opacity: 0.8;
}

#avatar {
    text-align: center;
    padding-bottom: 10px;
}

#bio {
    text-align: center;
}


#foot-link {
    opacity: 0.8
}
#foot-link:hover {
    opacity: 0.8;
}


#foot-link-svg:hover {
    opacity: 0.8;
    height: 20;
    width: 20;
}

#input-row {
    padding-bottom: 10px;
}

#filler {
    height: 30px;
}

#sub_btn {
    width: 25%;
}

#sub_btn:hover {
    color: white;
    border: 2px solid white;
}
#Navbar_further_styling {
    background-color: rgb(255, 101, 255);
}